---
layout: default
title: Speakers
permalink: /speakers/
header: 
---

	{% for speaker in site.data.speakers %}
		<section class="speaker-bio">
			<img src="/assets/img/{{ speaker.img }}" />
			<h1>{{ speaker.name }}{% if speaker.title != null %}, <small>{{ speaker.title }}</small>{% endif %}</h1>
			<span>Organizations:</span>
			<ul class="org-list">
				{% for org in speaker.org %}
					<li><a href="{{ org.url }}">{{ org.name }} <i class="fa fa-external-link"></i></a></li>
				{% endfor %}
			</ul>
			{% for line in speaker.bio %}
			<p>{{ line.p1 }}</p>
			<p>{{ line.p2 }}</p>
			<p>{{ line.p3 }}</p>
			<p>{{ line.p4 }}</p>
			{% endfor %}
		</section>
	{% endfor %}