<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper row">
      <div class="col-md-6">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>{{ site.description }}</li>
        </ul>
        <div>
          {% include icon-twitter.html %}
        </div>
      </div>

      <div class="col-md-6">
        <a class="twitter-timeline" href="https://twitter.com/StrategiesCA" data-widget-id="694639887882936320" data-chrome="nofooter">Tweets by @StrategiesCA</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>

  </div>

</footer>
