<div class="container" id="ribbon">
	<div class="row text-center">
		<div class="col-md-4 divider-right">
			<img src="http://lorempixel.com/200/150/city/5" class="img-rounded">
			<h2>Location</h2>
			<address>
				<p><strong>DoubleTree by Hilton, Modesto</strong><br />
				1150 9th St.<br />
				Modesto, CA 95354</p>
			</address>
		</div>
		<div class="col-md-4 divider-right">
			<img src="http://lorempixel.com/200/150/sports/3" class="img-rounded">
			<h2>Speakers</h2>
			<p>Leaders in the field of addressing and building resilience to Adverse Childhood Experiences (ACEs) and trauma</p>
			<br />
			<br />
		</div>
		<div class="col-md-4">
			<img src="http://lorempixel.com/200/150/business/8" class="img-rounded">
			<h2>About</h2>
			<p>Get info on Adverse Childhood Experiences, trauma, resilience, and the Strategies team.</p>
			<br />
			<br />
		</div>
	</div>
</div>