<div class="container-fluid" id="ribbon">
	<div class="row text-center">
		<div class="col-md-3 lsa">
			<a href="location"><h3>Location</h3></a>
			<a href="/information" class="hidden-md hidden-lg hidden-xl">Learn More &gt;</a>
		</div>
		<div class="col-md-3 middle lsa">
			<a href="/schedule"><h3>Schedule</h3></a>
			<a href="/schedule" class="hidden-md hidden-lg hidden-xl">See Full Schedule &gt;</a>
		</div>
		<div class="col-md-3 lsa">
			<a href="/speakers"><h3>Speakers</h3></a>
			<a href="/about" class="hidden-md hidden-lg hidden-xl">Learn More &gt;</a>
		</div>
		<div class="col-md-3 lsa">
			<a href="/about"><h3>About</h3></a>
		</div>
	</div>
	<div class="row text-center hidden-sm hidden-xs hidden-md hidden-lg">
		<div class="col-md-4">
			<a href="/information">Learn More &gt;</a>
		</div>
		<div class="col-md-4 middle">
			<a href="/schedule">See Full Schedule &gt;</a>
		</div>
		<div class="col-md-4">
			<a href="/about">Learn More &gt;</a>
		</div>
	</div>
</div>