/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 80px;
    background: $brand-color;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    // line-height: 56px;
    // letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

#eb-nav {
    margin: 25px 0 0 16px;
    @include media-query($on-laptop) {
        margin-top: 20px;
    }
}

.navbar {
    margin-bottom: 0;
    min-height: 65px;
    font-size: $base-font-size * 1.25;

    .container {

        .navbar-header {
            height: 65px;

            .navbar-toggle {
                margin: 24px 15px 24px 0;
                .icon-bar {
                    background-color: $brand-white;
                    height: 3px;
                }
            }
            .navbar-brand {
                padding-top: 5px;
            }
        }

        .navbar-collapse {
            @include media-query($on-palm) {
                clear: both;
            }
            .navbar-nav {
                margin-top: 28px;
                li {
                    a {
                        color: $brand-white;
                        font-family: $head-font-family;
                        font-weight: $head-font-weight;
                        &:hover {
                            background-color: darken($brand-color, 10%);
                        }
                    }
                    &.active > a {
                        color: $brand-yellow;
                    }
                    ul.dropdown-menu {
                        margin-right: -1px;
                        a {
                            color: $brand-color;
                            line-height: 1.7em;
                            background-color: transparent;
                            &:hover {
                                color: $brand-white;
                                background-color: $brand-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
.nav {
    li.open {
        background-color: darken($brand-color, 10%);
    }
    li.open > a, li.open > a:hover, li.open > a:focus {
        background-color: darken($brand-color, 10%);
    }
    > li > a:focus {
        background-color: darken($brand-color, 10%);
    }
}
// .dropdown-menu > .active > a {
//    background-color: transparent;
// } */

#see-all {
    color: $brand-orange;
    font-size: $base-font-size * 1.2;
}
 #eb-widget {
    @include media-query($on-palm) {
        display: none;
    }
 }

/**
 * Carousel
 */
#main-carousel {
    max-height: 60vh;
    // margin-bottom: 40px;
    overflow: hidden;

    @include media-query($on-palm) {
        height: 50vh;
    }

}

.carousel-inner {
    height: 100%;

    .item {
        height: 100%;

        img {
            height: 100%;
        }
    }

}

.carousel-caption {
    top: 15%;
    bottom: auto;

    @include media-query($on-palm) {
        top: 10%;
    }

}

#latest-updates {
    color: $brand-orange;
    font-weight: bold;
    text-transform: uppercase;
}

/**
 * Site footer
 */
.site-footer {
    // border-top: 1px solid $grey-color-light;
    padding: 0 0 $spacing-unit / 2;
    // background: darken($brand-color, 10%);
    .wrapper {
        border-top: 1px solid #ddd;
        padding-top: 30px;
        > h3 {
            color: $brand-white;
        }
        .row {
            padding: 5px 0;
            p {
                color: $grey-color-dark;

            }
        }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $brand-color;
    margin-left: -$spacing-unit / 2;
    @include media-query($on-palm) {
        margin: 0;
    }
    @extend %clearfix;
    * {
        display: inline-block;
    }
    > a {
        display: inline-block;
    }
    > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        @include media-query($on-palm) {
            margin: 0 auto;
            float: left;
        }
        > small {
            color: $brand-orange;
            font-weight: bold;
        }
        li {
            display: inline-block;
            padding: 0 15px;
            margin: 8px 0;
            border-right: 1px solid #ddd;
            &:first-of-type {
                padding-left: 0;
            }
            &:last-of-type {
                border-right: 0;
            }
            a {
                color: $brand-color;
                font-weight: bold;
                display: block;
                padding: 0;
            }
            @include media-query($on-palm) {
                display: block;
                text-align: left;
                width: 100%;
                margin: 1px auto;
                padding: 0;
                border: 0;
            }
        }
    }
    > div {
        float: right;
        > small {
            font-weight: bold;
            color: $brand-orange;
        }
        @include media-query($on-palm) {
            margin: 0 auto;
            > div {
                margin: 0 auto;
                min-width: 70px;
                padding: 4px $spacing-unit / 2 0;
            }
            a {
                display: inline-block;
                padding: 0;
            }
        }
    }
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
span.username {
    display: none;
    color: $brand-color;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 10px;
    list-style: none;

    > li {
        margin-bottom: calc($spacing-unit / 2);

        > h3 {
            color: $brand-color;
        }

        > p a {
            color: $brand-color;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    img {
        width: 100%;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}