// of course, all this styling isn't really worth much if there're only like two necessary documents.
.resource-list {
	list-style-type: none;
	margin: 0;
	li {
		display: block;
		margin: 10px 0 20px;
		h4 {
			margin-bottom: 5px;
		}
		p {
			margin: 5px 0;
		}
		a {
		}
	}
}