#schedule-head {
	font-weight: bold;
	font-size: $base-font-size * 1.6;
	border-bottom: 1px solid #aaa;
}
#schedule-row {
	margin: 5px 0;
	padding: 5px 0;
	font-size: $base-font-size * 1.1;
	&:nth-of-type(odd) {
		background-color: #dedede;
	}
	> div {

		> p {
			margin-bottom: 0;
		}
	}
}