/**
 * specific formatting for speakers page
 */

.speaker-bio {
	border-bottom: 1px solid #aaa;
	padding: 20px 0;
	> div {
		padding: 10px 0;
	}
	h1 {
		line-height: 24px;
		padding: 20px 0 10px;
		width: 50%;
		@include media-query($on-palm) {
			width: 100%;
			float: left;
		}
	}

	&:last-of-type {
		border-bottom: none;
	}

	img {
		float: right;
		max-height: 220px;
		margin: 15px 0 10px;
		padding: 0 20px;
		@include media-query($on-palm) {
			max-width: 40%;
			clear: left;
		}
	}

	p {
		// clear: both;
	}
	span {
		display: inline-block;
		font-weight: bold;
	}
	.org-list {
		list-style-type: none;
		display: inline-block;
		margin-left: 20px;
		li {
			display: inline-block;
			&::after {
				content: ", ";
			}
			&:last-of-type {
				&::after {
					display: none;
				}
			}
		}
	}
}